| {% extends 'userena/base_userena.html' %}

| {% block title %}Account activation failed{% endblock %}

| {% block content %}
legend
p
  | Your account could not be activated. This could be because your activation link has aged.
p
  | Please try signing up again or contact us if you think something went wrong.
| {% endblock %}
