| {% extends 'userena/base_userena.html' %}

| {% block title %}Disabled account{% endblock %}

| {% block content %}
legend
p 
  | It seems your account has been disabled.
p
  | If you feel that injustice has been done to you, feel free to contact the administrators to find out why.
| {% endblock %}
