| {% extends 'userena/base_userena.html' %}

| {% block title %}Email verification failed.{% endblock %}

| {% block content %}
legend Email verification failed
p
  | Your email could not be verified...
p
  | You could try changing it again in your account settings.
| {% endblock %}
