| {% extends 'userena/base_userena.html' %}

| {% block title %}Password reset email sent{% endblock %}

| {% block content %}
legend Password reset
p
  | An e-mail has been sent to you which explains how to reset your password.
| {% endblock %}
