| {% extends 'userena/base_userena.html' %}

| {% block title %}Reset password{% endblock %}


| {% block content %}
legend Confirm password reset
form.form-horizontal(
  action=''
  enctype='multipart/form-data'
  method='post'
)
  | {% csrf_token %}

  fieldset

    legend Reset password

    | {% include "form.html" %}

    .control-group
      .controls
        input.btn(type='submit', value='Reset')

| {% endblock %}
