| {% extends 'userena/base_userena.html' %}

| {% block title %}Change password{% endblock %}

| {% block content %}
legend Change password
form.form-horizontal(
  action=''
  enctype='multipart/form-data'
  method='post'
)
  | {% csrf_token %}

  fieldset

    legend Change password

    | {% include "form.html" %}

    .control-group
      .controls
        input.btn(type='submit', value='Change')

| {% endblock %}