| {% extends 'userena/base_userena.html' %}

| {% block title %}Password changed{% endblock %}

| {% block content %}
legend Password changed
p From now on you can use your new password to signin.
| {% endblock %}
