| {% extends 'userena/base_userena.html' %}

| {% block title %}Password reset{% endblock %}

| {% block content %}
legend Password Reset Successful
| You can now 
a(href="{% url 'userena_signin' %}")
  | signin
|  
| with your new password.
| {% endblock %}
