| {% extends 'userena/base_userena.html' %}

| {% block title %}Reset password{% endblock %}

| {% block content %}
legend Password reset
form.form-horizontal(
  action=""
  method="post"
)
  | {% csrf_token %}

  fieldset

    legend Reset password

    | {% include "form.html" %}

    .control-group
      .controls
        input.btn(type='submit', value='Send password')

| {% endblock %}
